table{
	width: 100%;
}

nav {
	width: 100%;
	margin-bottom: 20px;
}

.card,.btn-sm{
	margin-bottom: 5%;
}

body{
	font-family: Verdana;
	/*background-color: #caceba;*/
	/*background: url('http://localhost/doctorcare/assets/pic/background/BgUtama1.jpg') no-repeat center;*/
}

#pict{				/*pict yang pilihan buat jadwal, lihat dll di menu utama*/
	width:307.2px;
	height:205.2px;
	border: 2px solid white;
}

.body{
	min-height: 100vh;
	background: url('https://1.bp.blogspot.com/-gMRdmCUIvEA/YIDjGh0IseI/AAAAAAAAGVI/iExLjafieF8zo4ZwTDQhqwfSOW5D7kdRgCLcBGAsYHQ/s1920/anime%2Bbackground%2Bschool.jpg') center;
}
#LoginForm{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: url('https://1.bp.blogspot.com/-gMRdmCUIvEA/YIDjGh0IseI/AAAAAAAAGVI/iExLjafieF8zo4ZwTDQhqwfSOW5D7kdRgCLcBGAsYHQ/s1920/anime%2Bbackground%2Bschool.jpg') center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
	border-radius: 10px;
	padding: 30px;
	text-align: center;
	width: 512px;
}
